
<html>
<body>
    <h1> {{title}}</h1>
    <form action="/createuser" method="POST">
        <label width="20px">User ID</label>
        <input type="text" name="userid" placeholder="search" />
        </br>
        <label width="20px">EMail</label>
        <input type="text" name="email" placeholder="search" />
        </br>
        <label width="20px">Token</label>
        <input type="text" name="token" placeholder="search" />
        </br>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>